{% extends 'base.html' %}

{% block content %}

{% if user.is_authenticated %}

<div class = "container-fluid">

<div>
<a href="{% url 'add_patient' %}" class="btn btn-info text-light">Add Patient</a>
</div>

<!--
<br/>
<div>
<a href="" class="btn btn-info text-light">Real time entry form</a>
</div>
-->

<br/>

<table id="example" class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th scope="col">System Number</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">DOB</th>
    </tr>
  </thead>

  <tbody>
      {% if p_records %}
      {% for rec in p_records %}
    <tr>
      <td><a href="{% url 'patient_record' rec.id%}">{{rec.System_Number}}<a/></td>
      <td>{{rec.First_Name}}</td>
      <td>{{rec.Last_Name}}</td>
      <td>{{rec.DOB}}</td>
    </tr>
      {% endfor %}
      {% endif %}
  </tbody>

</table>

</div>

{% else %}
    
    <div class = "container-fluid">
    <br/>
    <h1>Login</h1>
    <br/>
    <form method = "POST" action ="{% url 'home' %}">
        {% csrf_token %}
        <div class="mb-3">
            <input type="text" class="form-control" name="username" placeholder="Username" required>
          </div>
          <div class="mb-3">
            <input type="password" class="form-control" name="password" placeholder="Password" required>
          </div>
          <br/>
          <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>

{% endif %}

{% endblock %}
